@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Персональные данные</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит личные данные, которые вы предоставили нам. На этой странице вы можете загрузить или удалить эти данные.</p>
        <p>
            <strong>Удаление этих данных приведет к окончательному удалению вашего аккаунта, и их невозможно будет восстановить.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Загрузить</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </p>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
