@model IEnumerable<hotelcourseworkV2.Models.Dish>

<div class="container">
    <h1>Список страв</h1>

    <p>
        <a asp-controller="Dish" asp-action="DishCreate" class="btn btn-primary">Додати нове</a>
    </p>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Назва</th>
                            <th>Рецепт</th>
                            <th>Вага</th>
                            <th>Одиниця</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Recipe)</td>
                                <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                                <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-success">Редагувати</a>
                                        <a href="#" class="btn btn-danger">Видалити</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
