@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

    <div class="container">
        <header class="text-center mt-5">
            <h1 class="text-danger">Доступ ограничен</h1>
            <p class="text-danger">У вас нету доступа к даному пользователю</p>
        </header>
    </div>
