@page
@model LoginModel

@{
    ViewData["Title"] = "Увійти";
}

<h1 class="text-center mb-4">Авторизація</h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" class="needs-validation" novalidate="true">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                    <label asp-for="Input.Email" class="form-label">Пошта</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Пароль" />
                    <label asp-for="Input.Password" class="form-label">Пароль</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label" asp-for="Input.RememberMe">Запомятати мене?</label>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Увійти</button>
                </div>
            </form>
        </section>
    </div>
</div>

<style>
    /* Додатковий CSS для стилізації форми */
    .form-control {
        border-radius: 8px; /* Закруглені кути для полів вводу */
    }

    .btn-primary {
        background-color: #007bff; /* Синій колір для кнопки */
        border-color: #007bff; /* Синій колір для рамки кнопки */
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Темно-синій колір для кнопки при наведенні */
        border-color: #0056b3; /* Темно-синій колір для рамки кнопки при наведенні */
    }

</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
