@model hotelcourseworkV2.Models.Hotel

<h2>Підтвердіть видалення готелю</h2>

<p>Ви впевнені, що хочете видалити готель "@Model.Name"?</p>

<form asp-action="DeleteHotel" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Підтвердити видалення</button>
    <a asp-action="Owner" class="btn btn-secondary">Скасувати</a>
</form>
