@model IEnumerable<hotelcourseworkV2.Models.Ingredient>

@{
    ViewData["Title"] = "Ingredient List";
}

<div class="container my-5">
    <h1 class="text-center mb-4">Список інгредієнтів</h1>

    <div class="d-flex justify-content-end mb-3">
        <a asp-controller="Ingredient" asp-action="IngridientCreate" class="btn btn-primary">Додати інгредієнти</a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Назва</th>
                            <th scope="col">Кількість</th>
                            <th scope="col">Юніт</th>
                            <th scope="col">Дії</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                                <td>
                                    <a asp-controller="Ingredient" asp-action="IngridientDelete" asp-route-id="@item.Id" class="btn btn-danger">Видалити</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
