@model IEnumerable<hotelcourseworkV2.Models.ServicesReserve>

@{
    ViewData["Title"] = "ServicesList";
}

<div class="container">
    <h1>Список послуг</h1>

    <p>
        <a asp-controller="Services" asp-action="CreateServices" class="btn btn-primary">Створити нову</a>
    </p>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Тип сервісу</th>
                            <th>Кількість</th>
                            <th>Ціна</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.TypeService.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>
                                    <a asp-action="DeleteServices" asp-controller="Services" asp-route-id="@item.Id" class="btn btn-danger">Видалити</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

